@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1 class="my-4">
    Page Heading
    <small>Secondary Text</small>
</h1>

<!-- Blog Post -->
@foreach (var item in Model.Article)
{
    <div class="card mb-4">
        <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.CoverPhoto)" alt="@Html.DisplayFor(modelItem => item.Title)">
        <div class="card-body">
            <h2 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h2>
            @*<p class="card-text">@Html.DisplayFor(modelItem => item.Body)</p>*@
            <p class="card-text">@Html.Raw(item.Body)</p>

            <tags-helper>@item.Tags</tags-helper>

        </div>
        <div class="card-footer text-muted">
            @Html.DisplayFor(modelItem => item.CreateDate)
            <a href="#">Start Bootstrap</a>
        </div>
    </div>
}


<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
    <li class="page-item">
        <a class="page-link" href="#">&larr; Older</a>
    </li>
    <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a>
    </li>
</ul>
