@page
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common
@using Westwind.AspNetCore.Markdown

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1 class="my-4">
    Page Heading
    <small>Secondary Text</small>
</h1>

<!-- Blog Post -->
@foreach (var item in Model.Article)
{
    <div class="card mb-4">
        <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.CoverPhoto)" alt="@Html.DisplayFor(modelItem => item.Title)">
        <div class="card-body">
            <h2 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h2>
            @*<p class="card-text">@Html.DisplayFor(modelItem => item.Body)</p>*@
            <p class="card-text">@Html.Raw(Markdown.Parse(item.Body, false, false, false))</p>

            <tags-helper>@item.Tags</tags-helper>

        </div>
        <div class="card-footer text-muted">
            @Html.DisplayFor(modelItem => item.CreateDate)
            <a href="#">Start Bootstrap</a>
        </div>
        <div class="card-footer text-muted">
            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
        </div>
    </div>
}


<!-- Pagination -->
@Html.PagedListPager((IPagedList)Model.Article,
    page => Url.Page("index", new { p = page }),
    new PagedListRenderOptions
    {
        LinkToFirstPageFormat = "第一頁",
        LinkToPreviousPageFormat = "上一頁",
        LinkToNextPageFormat = "下一頁",
        LinkToLastPageFormat = "最後頁"
    })
<!-- Pagination -->
