@page
@using SkillTreeRazorPageBlogSample.Helper @*也可以直接在 _ViewInports.cshtml 內宣告*@
@model SkillTreeRazorPageBlogSample.Pages.PocModel

@{
    ViewData["Title"] = "Poc";
}

<h1>Poc驗證</h1>

語法測試區:
<br />
一:
@Html.DisplayItemsStatus("00")
<br />
二:
@Html.DisplayItemsStatus("01")
<br />
三:
@Html.ActionLinkAuthorized("Test123", "Admin")
<br />
四:
@Html.ActionLinkAuthorizedEdit("Edit", "00000000-0000-0000-0000-000000000000")
<br />
五:
@Html.ActionLinkAuthorizedDelete("Delete", "00000000-0000-0000-0000-000000000000")
<br />
六:
<searchresulthighlight article-body="金門">澎湖</searchresulthighlight>
<br />
七:
<searchresulthighlight>您好</searchresulthighlight>
八:
<searchresulthighlight></searchresulthighlight>
<searchresulthighlight-helper></searchresulthighlight-helper>

